@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.preloader {
  // height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background: $black;
  // color: $white;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .texts-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    min-width: 280px;
    font-size: 24px;
    overflow: hidden;
    font-weight: 800;
    opacity: 0;
    color: $white;
    font-size: 14px;
    z-index: 1000;
    @include media("<=phone") {
      min-width: 240px;
      span {
        font-size: 14px;
      }
    }
  }

/* Sliders  */
.lightCyan-slider,
.persianGreen-slider,
.white-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
.lightCyan-slider {
  background: #d5f2ef;
}

.persianGreen-slider {
  background: #03a6a6;
}

.white-slider {
  background: #000;
}

  .hide {
    opacity: 0;
    color: #03a6a6;
    font-weight: lighter;
  }
}
