.Footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  .social-links {
    a,
    a:visited {
      color: #000;
      margin: 0 5px;
      transition: background-color 170ms ease-in-out;
    }

    &:hover {
      color: #8a8a8a;

      a:not(:hover) {
        color: #8a8a8a;
      }
    }
  }
}
