@import "./styles/reset";
@import "./styles/breakpoints.scss";
@import "./styles/variables.scss";
.App {
  position: relative;
  @media only screen and (min-width: 750px) {
    padding: 0 25px;
  }

  .page-divider {
    border-bottom: 1px solid $hoveColor;

    &.home {
      border-top: 1px solid $hoveColor;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.About {
  .About-image__container {
    @media only screen and (min-width: 751px) {
      flex: 1;
    }
    img {
      width: 100%;
    }
  }

  .About-content {
    @media only screen and (min-width: 751px) {
      flex: 1;
    }

    padding: 1rem;

    h1 {
      white-space: pre-wrap;
      color: $white;
      font-family: "SpecialElite", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 0.9em;
      font-size: 2.4em;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 3px;
      color: var(--text-color);
      transition: 0.1s ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955);
      &:hover {
        color: $hoveColor;
      }
    }

    p {
      font-family: "SpecialElite", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 1.3em;
      font-size: 19px;
      text-transform: none;
      text-decoration: none;
      margin: 0 0 1em;
      text-align: justify;
      word-wrap: break-word;
      white-space: pre-wrap;
      color: var(--text-color);
    }
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

.Stills {
  text-align: center;
  &-container {
    padding: 16px;
  }
  h1 {
    font-family: "SpecialElite", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3em;
    font-size: 2.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;

    @include media("<=tablet") {
      font-size: 5vw;
    }
  }

  .still-image {
    text-align: center;

    img {
      width: 100%;
    }

    .image-meta {
      font-family: "SpecialElite", sans-serif;
      font-style: normal;
      line-height: 1.3em;
      font-size: 19px;
      text-transform: none;
    }
  }

  .stills-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    a {
      color: $white;
      text-decoration: none;
      transition: all 0.47s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        color: $hoveColor;
      }
      &:hover,
      &:active {
        outline: 0;
      }
    }

    .projectNav {
      cursor: pointer;
      span {
        display: inline-block;
        margin: 0 10px;
      }
      .disable {
        pointer-events: none;
        color: var(--prevColor);
        cursor: none;
      }
    }
  }

  .image-meta {
    margin: 10px 0;
    strong {
      font-size: 2rem;
    }
  }

  .page-text {
    line-height: 1.4;
  }

  .still-description {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      word-wrap: break-word;
      width: 80%;
      line-height: 1.4;
      text-align: justify;
    }
  }
}

.Motions {
  text-align: center;
  .motion {
    margin: 1rem 0;
  }
}

.ErrorPage {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .img {
    width: 300px;

    img {
      width: 100%;
    }
  }

  p {
    cursor: pointer;

    a,
    a:hover,
    a:active {
      color: $gray;
      text-decoration: none;
    }
  }
}

.BlackWhite {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .image-container {
    height: 100%;
    width: 50%;

    @include media("<=500px") {
      width: 80%;
    }
    img {
      object-fit: contain;
    }
  }
}

.Contact-Me {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    min-width: 200px;

    @media only screen and (min-width: 751px) {
      min-width: 400px;
    }
    // background-color: $black;
    margin: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba($secondary, 0.06);
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.9);
    padding: 40px;
  }

  h1 {
    // margin: 2rem 2rem 0;
    font-size: 1.62rem;
    color: $primary;
  }

  .form {
    // padding: 0.5rem 0;
  }

  .button {
    display: block;
    width: 100%;
    background-color: $primary;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    width: calc(100% + 10px);
    cursor: pointer;
  }

  @mixin input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 28px;
    border-radius: 3px;
    transition: 150ms ease;
    outline: none;
    font-size: 0.8rem;
    font-family: inherit;
    // padding-left: 10px;
    padding-left: 10px;

    &::placeholder {
      // font-size: 0.95em;
      text-transform: uppercase;
    }
  }

  @mixin input-focus {
    border-color: #e7dedc;
  }

  .text-input {
    position: relative;
    margin-bottom: 1rem;

    input {
      @include input;
    }
    input.input-focus {
      @include input-focus;
    }
  }

  .text-area {
    position: relative;
    margin-bottom: 1rem;
    textarea {
      @include input;
      padding-top: 20px 0;
      height: 8em;
      padding-left: 10px;
      &::placeholder {
        padding: 5px 0;
      }
    }
    textarea.input-focus {
      @include input-focus;
    }
  }
}

.Pricing {
  text-align: center;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<=phone") {
      flex-direction: column;
    }
  }

  &-card {
    text-align: center;
    padding: 20px 40px;
    margin: 40px;
  }

  &-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: gray;
    text-align: center;
    display: inline-block;
  }

  &-subtitle {
    color: lighten(#000, 10%);
    font-style: italic;
  }

  .btn {
    border: none;
    background-color: #000;
    padding: 20px 25px;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.2s ease-out;

      &:hover {
        color: lighten(#000, 60%);
      }
    }
  }
}

.Videos {
  padding: 30px;
  margin: 20px 10%;

  @include media("<=phone") {
    margin: 20px 10%;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    @include media("<=phone") {
      display: block;
    }
  }

  &-player {
    position: relative;
    width: 350px;
    height: 250px;
  }
}
