@import './styles/breakpoints.scss';

.App {
  position: relative;
  @media only screen and (min-width: 750px) {
    margin: 0 25px;
  }

  .page-divider {
    border-bottom: 1px solid #ddd;

    &.home {
      margin: 15px 0;
    }
  }
}

.About {
  .About-image__container {
    @media only screen and (min-width: 751px) {
      flex: 1;
    }
    img {
      width: 100%;
    }
  }

  .About-content {
    @media only screen and (min-width: 751px) {
      flex: 1;
    }

    padding: 1rem;

    h1 {
      white-space: pre-wrap;
      color: #222;
      font-family: 'Actor', sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 0.9em;
      font-size: 2.4em;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 3px;
    }

    p {
      font-family: proxima-nova;
      font-weight: 400;
      font-style: normal;
      line-height: 1.3em;
      font-size: 19px;
      text-transform: none;
      text-decoration: none;
      margin: 0 0 1em;
      text-align: justify;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}

.Stills {
  text-align: center;
  &-container {
    padding: 16px;
  }
  h1 {
    font-family: Oswald;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3em;
    font-size: 2.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;

    @include media('<=tablet') {
      font-size: 5vw;
    }
  }

  .still-image {
    text-align: center;
    img {
      width: 100%;
    }

    .image-meta {
      font-family: proxima-nova;
      // font-weight: 400;
      font-style: normal;
      line-height: 1.3em;
      font-size: 19px;
      text-transform: none;
    }
  }
}

.stills-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  a {
    color: #111;
    text-decoration: none;
    transition: all 0.47s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      color: #8a8a8a;
    }
    &:hover,
    &:active {
      outline: 0;
    }
  }

  .projectNav {
    cursor: pointer;
    span {
      display: inline-block;
      margin: 0 10px;
    }
    .disable {
      pointer-events: none;
      color: rgb(173, 177, 171);
      cursor: none;
    }
  }
}

.Motions {
  text-align: center;
  .motion {
    margin: 1rem 0;
  }
}

.ErrorPage {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .img {
    width: 300px;

    img {
      width: 100%;
    }
  }

  p {
    cursor: pointer;

    a,
    a:hover,
    a:active {
      color: #222;
      text-decoration: none;
    }
  }
}
