@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "./styles/variables.scss";

// @font-face {
//   font-family: 'AvenirLTStd';
//   src: local('AvenirLTStd'),
//     url('./assets/fonts/AvenirLTStd-Book.otf') format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Lato';
//   src: local('Lato'), url('./assets/fonts/Lato-Regular.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'AvenirLTStd';
//   src: local('AvenirLTStd'),
//     url('./assets/fonts/AvenirLTStd-Black.otf') format('truetype');
//   font-weight: bold;
// }

// @font-face {
//   font-family: 'SpecialElite';
//   src: local('SpecialElite'),
//     url('./assets/fonts/SpecialElite-Regular.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }

:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

body[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --hover-color: rgba(158, 158, 158, 0.7);
  --subNav-color: #000;
  --link-color: rgba(158, 158, 158, 0.7);
  --prevColor: var(--link-color);
  --form-bg: #000;
  --form-text: #fff;
}

body[data-theme="dark"] {
  --background-color: #000;
  --text-color: #fff;
  --link-color: rgba(158, 158, 158, 0.7);
  --subNav-color: #000;
  --hover-color: rgba(158, 158, 158, 0.7);
  --prevColor: var(--link-color);
}

body {
  font-family: "SpecialElite", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.player-wrapper {
  width: auto; // Reset width
  height: auto; // Reset height
}
.react-player {
  padding-top: 56.25%; // Percentage ratio for 16:9
  position: relative; // Set to relative
}

.react-player > div {
  position: absolute; // Scaling will occur since parent is relative now
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


// entry transition class
.transition {
  overflow: hidden;
  height: 0;
  z-index: 1;
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  // bottom: 0;
  right: 0;
}


// exit transition class
.transition2 {
  @extend .transition;
  z-index: 5;
}