@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.Grid-Container {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media('<=tablet') {
    // grid-template-rows: repeat(auto-fit, 230px);
    grid-template-columns: repeat(2, 1fr);
  }
  // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  // grid-auto-flow: dense;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
}
